---
- hosts               : vagrant
  remote_user         : vagrant
  become              : true
  gather_facts        : false


  vars_files:
    - '../CONFIG.yml'


  pre_tasks:
    - import_tasks: playbooks/python.yml

# ··············································································
# ### TASK
# ··············································································

  tasks :
    - import_tasks: playbooks/update.yml
    - import_tasks: playbooks/unzip.yml
    - import_tasks: playbooks/curl.yml
    - import_tasks: playbooks/git.yml
    - import_tasks: playbooks/php7-1.yml
    - import_tasks: playbooks/apache.yml
    - import_tasks: playbooks/mysql.yml
    - import_tasks: playbooks/phpmyadmin.yml
    - import_tasks: playbooks/vagrant-user.yml
    - import_tasks: playbooks/wordpress.yml
    - import_tasks: playbooks/virtualhost.yml
    - import_tasks: playbooks/wp-cli.yml
    - import_tasks: playbooks/zsh.yml
    - import_tasks: playbooks/locale-fix.yml



# ··············································································
# ### Handlers
# ··············································································

  handlers    :
    - name    : Restart apache2
      service :
        name  : apache2
        state : restarted

    - name: restart mysql
      action: service name=mysql state=restarted enabled=yes
